
@{
    ViewBag.Title = "MobileModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content" style="min-height:500px;overflow-x:hidden;">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="/Master/Home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Mobile Model</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading" style="background-color: white;font-size:16px; color: #343e6e; border: 3px solid #f1f2f7; border-top-color: #1b4a6e; border-radius: 5px 5px;">
                   <strong>Mobile Model</strong> 
                </header>
                <div class="panel-body" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pull-left">
                                <a href="/Master/NewMobileModel/" class="btn btn-info" id="btnNew"><span class="glyphicon glyphicon-plus"></span> New</a>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <a href="/Master/NewMobileType/" class="btn btn-primary" id="btnFill"><span class="glyphicon glyphicon-plus-sign"></span> Fill Phone Name</a>

                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12" style="overflow-x:hidden;">
                        <table id="tblmobile" class="table table-bordered nowrap table-striped" cellspacing="0" style="width:100%;">
                            <thead style="font-style:bold;font-size:14px;">
                                <tr>
                                    <th>Action</th>
                                    <th>Type Id</th>
                                    <th>Mobile Name</th>
                                    <th>Model</th>
                                    <th>Price</th>
                                    <th>Stock</th>

                                </tr>
                            </thead>

                        </table>

                    </div>
                </div>
                <div class="panel-footer bg-black-gradient" style="margin-top:40px;">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-map-marker"></span> YanKin Township,Yangon Region
                                </li>
                                <br />
                                <li>
                                    <span class="glyphicon glyphicon-phone-alt"></span> 09-780563429
                                </li>
                                <br />
                                <li>
                                    <span class="glyphicon glyphicon-envelope"></span> Email-yazarmin@myanmareasenet.com
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4>Hello Mobile Shop</h4>
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    "Do You need a good phone!Just come to Hello Mobile Shop."
                                </div>
                                <div class="col-md-6">
                                    <div class="text-left">
                                        <img src="~/Image/hello.png" class="rounded" style="padding-left: 5px;height:60px;width:80px; padding-right: 0px; position: absolute; ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</section>



@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            var tbl = FillGrid();
        });


        function FillGrid() {
            var table = $('#tblmobile').DataTable(
                {
                    "destroy": true,
                    "responsive": true,
                    "pageLength": 3,
                    "scrollX": true,
                    "lengthMenu": [3,5,10, 15, 20, 25, 50, 75, 100],
                    dom: "<'row'<'col-sm-6'B><'col-sm-6'f> >" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-4'l><'col-sm-4'i><'col-sm-4'p>>",
                    buttons: [
                        'colvis',
                        {
                            extend: 'excelHtml5',
                            footer: true,
                            title: 'Mobile Type',
                            exportOptions: {
                                columns: [1, 2, 3]
                            },
                            filename: function () {
                                return "Mobile Type";
                            },
                            customize: function (xlsx) {
                                var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                $('c[r=A1]', sheet).attr('s', '50');
                                $('c[r=A1]', sheet).attr('s', '2');
                                $('c[r=A2]', sheet).attr('s', '50');
                                $('c[r=A2]', sheet).attr('s', '2');
                            }
                        },

                       
                    ],
                    "ajax": {

                        "url": "/api/MasterData/GetMobileModel",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ''
                    },
                    "columns": [
                        { "data": "typeid" },
                        { "data": "typeid" },
                        { "data": "mobileName" },
                        { "data": "model" },
                        {
                            "data": "price",
                            'render': function (price) {
                                return price + "MMK";
                            }
                        },
                        { "data": "stock" },

                    ],
                    "columnDefs": [
                        {
                            "targets": 0,
                            "data": "typeid",
                            "bSortable": false,
                            "render": function (data, type, row) {

                                str = '<a href="#" id="' + data + '" onclick=UpdateModel(this.id) class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span></a> <a href="#" id="' + data + '" onclick="DeleteModel(this.id);" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></a>';
                                return str;

                            }
                        },
                    ]
                });
            return table;
        }

        function UpdateModel(id) {
            window.location.href = "/Master/UpdateModel/" + id;
        }


        //function DeleteModel(id) {
        //    window.location.href = "/api/MasterData/DeleteModel/?id=" + id;
        //}


        function DeleteModel(id) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Yes, I am sure!',
                cancelButtonText: "No, cancel it!",
                closeOnConfirm: false,
                closeOnCancel: true
                
            },
                function (isConfirm) {

                    if (isConfirm) {
                        $.ajax({
                            url: '/api/MasterData/DeleteModel/?id=' + id,
                            type: "GET",
                            dataType: "JSON",
                            dataSrc: '',
                            success: function (response) {
                                if (response.status) {
                                    swal({
                                        title: "Delete Mobile Model",
                                        text: response.content,
                                        type: "success"
                                    }, function () {
                                        window.location.reload(true);
                                    });
                                }
                                else {
                                    swal({
                                        title: "Delete Mobile Model",
                                        text: response.content,
                                        type: "error",
                                        showConfirmButton: true
                                    }, function () {
                                        window.location.reload(true);
                                    });

                                }
                                FillGrid();
                            }
                        });
                    } else {
                        swal.close();
                    }
                });
        }

    </script>


}

