
@{
    ViewBag.Title = "SaleInfoPos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title">
    <div class="container">
        <div class="col-md-12">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/Master/Home"><span class="fa fa-home"></span> Home</a></li>
                   
                    <li class="active">Sale Information POS</li>
                </ul>
            </header>
        </div>
    </div>
</section>
<section class="page-body">
    <div class="container bodysection">
        <h3>Sale  Information</h3>
        <div class="row">
            <iframe src="@Url.Action("SaleInfoPos","SaleRdlc", new {id= ViewBag.id})" style="width:100%;height:600px" frameborder="0"></iframe>
        </div>
    </div>
</section>


